<div class="flex justify-between items-center p-2 dark:bg-gray-900">
  <h1 class="text-3xl font-bold text-gray-800 dark:text-white px-5 py-2.5 mt-4">
    Blog Posts
  </h1>
  <button
    routerLink="/management/blog/create"
    class="inline-flex items-center px-5 py-2.5 mt-4 me-2 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
  >
    Create Blog Post
  </button>
</div>
<app-blog> </app-blog>
